/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3ADigital_rain_animation_medium_letters_shine.gif&psig=AOvVaw2aBE1O6lhIRgm372l4mBJK&ust=1695141235192000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCJjumqvLtIEDFQAAAAAdAAAAABBI');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    animation: backgroundLoop 10s infinite; /* Matrix Digital  */
}

@keyframes backgroundLoop {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

h2 {
    color: #333;
}

h3 {
    color: #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
